/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
body {
    color:#030303;
    background-color:#ffffffe7 ;
    font-size: 30px;
    font-family:"Amatic SC", sans-serif;
    line-height: 1.5;
    margin:0;   
}

.Uvod {
    width: 400px; 
    margin-left: 60px;
    margin-top: 60px;
    padding-left: 20px; 
    text-align: left;
    float:left;   
}

.About em {
        font-family: "Zeyada", cursive;
        font-weight: 400;
        font-style: italic;
        margin-left: 800px;
}

h1{
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 90px;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(203, 209, 209, 0.301);
    margin-top: 120px;
    margin-bottom: 0;
  }

 h2{
    text-align: left;
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    margin-left: 40px; 
 }

.Hobbies{
    background-color: rgba(203, 209, 209, 0.301);
    margin: 60px 100px 60px 0px;

    
}
 .Hobbies h2{
    text-align: right;
    margin-right: 60px;
    
 }

 .Hobbies img {
    width: 180px;
    border-radius: 5%;
    margin-bottom: 30px;

 }
 table{
 
    border-spacing: 0;
    margin-left: 80px;
}
th, td {
 
     
    text-align:center;
    padding:10px 0;}
th {
    border-bottom: 2px solid #070707;  
}
.hobby {
    padding-left: 170px; 
}
 .Work{
    background-color: rgba(203, 209, 209, 0.301);
    margin-left: 80px;
    margin-top: 60px;
    }

    ul{
        margin-left: 40px;
    }

p{
    text-align: center;
    font-style: normal;
    margin-top: 40px;
    padding-top: 0;
}
 section {
    padding-top: 20px;
    overflow: auto;
    
    }


.menu
{
    background-color: #000000ef;
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: "Amatic SC", sans-serif;

    
}
.menu li {
    display: inline-block;
}
.menu a {
    color:#edeae8f7;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
    font-size: 40px;
}

.menu a:hover,   .menu a:focus, a:active{
    background-color: #606063da;
}

<<<<<<< HEAD
.Foto{
    text-align: center;
    background-color: rgba(203, 209, 209, 0.301);
    
=======
.Foto img {
  width: 32%;
  border: 2px solid #756158;
  border-radius: 5px;
}

.Kontakt {
    font-size: 30px;
    background-color: rgba(203, 209, 209, 0.301);
    margin-left: 80px;
    margin-top: 60px;
>>>>>>> db82b4466b84e4bcfdc5f4829838c6bb2cbe9c12
}
.Foto img {
    width: 16%;
    border: 2px solid #000000;
    border-radius: 5px;
    
    
  }
  
  .Kontakt{
    background-color: rgba(203, 209, 209, 0.301);
    margin-left: 80px;
    margin-top: 60px;
  }
.Kontakt img {
    width: 300px; 
    margin-right: 58%;
    float: right;  
    border: 2px solid #000000;
    border-radius: 50%;
}
    
  .Kontakt p{
    text-align: left;
    font-size: 30px;
    margin-left: 50px;
    padding-right: 80px;
    display: inline-block;
  }

.paticka {
    background-color: #000000ef;
    color:#f9e3d0;
    text-align:center; 
    padding: 10px 0;
}
.paticka p{
    margin: 5px;
}
